@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap'); 
    
#home_pic{
    width: 380px;
    height: auto;
}

body{
    text-align: center;
}

.recipe{
    background-color: rgb(252, 252, 219);
    text-align: center;
    width: 380px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-family: 'Nova Slim', cursive; 
}

h3{
    text-align: left;
}

ul {
    text-align: left;
    list-style-position: inside;
 }

 ol {
    text-align: left;
    list-style-position: inside;
 }

 img{
    width: 390px;
    height: auto;
 }