@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap'); 
    
#home_pic{
    width: 500px;
    height: auto;
}

body{
    text-align: center;
}


h1{
    font-family: 'Nova Slim', cursive; 
}

ul {
    list-style-position: inside;
 }

 ol {
    list-style-position: inside;
 }