@import url('https://fonts.googleapis.com/css2?family=Nova+Slim&display=swap'); 
    
#home_pic{
    width: 500px;
    height: auto;
}

body{
    text-align: center;
}

.recipe{
    text-align: center;
    width: 400px;
    height: auto;
    position: absolute;
    left: 25%;
}

h1{
    font-family: 'Nova Slim', cursive; 
}

ul {
    text-align: left;
    list-style-position: inside;
 }

 ol {
    text-align: left;
    list-style-position: inside;
 }

 img{
    width: 390px;
    height: auto;
 }